@import "config.scss";

// home page
.home {
  width: 100%;
  @extend %flex-col;
  .music-list {
    @extend %flex-col;
    margin-bottom: 10px;
    .load-btn {
      border: none;
      font-size: $fss;
      color: rgba($color_1, 0.6);
      background-color: white;
      transition: 500ms;
      &:hover {
        transition: 500ms;
        color: $color_1;
      }
    }
    .music-data {
      @extend %flex-col;
      align-items: flex-start;
      margin: 20px 0;
      .music-li {
        @extend %flex-row;
        justify-content: space-between;
        list-style: none;
        .strong {
          color: $color_3;
          font-size: $fss;
          padding-left: 0;
          padding-right: 0;
          margin: 3px 3px;
        }
        .music-li-el {
          margin: 0px 3px;
          font-size: $fss;
        }
        .strong-title,
        .music-li-title {
          min-width: 190px;
        }
        .strong-title {
          margin-left: 4px;
        }
        .strong-key,
        .strong-bpm,
        .music-li-p {
          min-width: 48px;
        }
        .strong-tags,
        .div-tags {
          display: flex;
          flex-direction: row;
          min-width: 145px;
          .music-li-tags {
            padding-right: 1px;
            padding-left: 3px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 70px;
            border: 1px solid $color_3;
            border-radius: 3px;
            color: $color_3;
          }
        }
        .btn-add {
          transition: 500ms;
          color: rgba($color_2, 0.75);
          padding: 7.5px 10px;
          border-radius: 3px;
          border: 1px solid $color_1;
          background-color: $color_1;
          @extend %flex-row;
          align-items: center;
          &:hover {
            transition: 500ms;
            color: $color_2;
          }
          .cart-image {
            margin-top: -3px;
            margin-left: -5px;
            height: 27px;
            width: 27px;
          }
        }
        .play-image {
          .music-li-icon {
            height: 44px;
            width: 44px;
          }
          .play-button {
            display: none;
          }
        }
        .play-image:hover {
          position: relative;
          top: 0;
          left: 0;
          .music-li-icon {
            height: 44px;
            width: 44px;
            position: relative;
            top: 0;
            left: 0;
          }
          .play-button {
            display: block;
            height: 24px;
            width: 24px;
            color: #000;
            position: absolute;
            top: 10px;
            left: 14px;
            border-radius: 100%;
            border: 1px rgba($color_1, $alpha: 0.7) solid;
            &:hover {
              border: 1px white solid;
            }
          }
        }
      }
    }
  }
}
