@import "config.scss";

// header
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: $color_1;
  position: sticky;
  top: 0;
  z-index: 1;
  .header-col {
    @extend %flex-row;
    .menu-icon {
      @extend %flex-col;
      .menu-icon-bar {
        width: 35px;
        height: 5px;
        background-color: $color_2;
        margin: 3.5px 0;
        border-radius: 2px;
      }
    }
    a {
      text-decoration: none;
    }
    .title {
      font-size: 44px;
      color: $color_2;
      margin: 0 3px;
      padding: 10px 15px;
    }
    .menu {
      @extend %flex-row;
    }
    .header-button {
      @extend %header-btn;
      @extend %flex-row;
      align-items: center;
      &:hover {
        @extend %header-btn-hover;
      }
    }
    .header-shopping-button {
      @extend %flex-row;
      align-items: center;
      background-color: transparent;
      border: none;
      color: rgba($color_2, 0.75);
      font-size: $fsm;
      &:hover {
        @extend %header-btn-hover;
      }
    }
    .header-icon {
      height: 40px;
      width: 40px;
    }
    .header-search {
      @extend %flex-row;
      position: sticky;
      .header-search-bar {
        height: 26px;
        width: 200px;
        color: $color_1;
        font-size: $fss;
        margin-right: 12px;
      }
    }
    .list-result {
      display: none;
    }
    .list-result-active {
      @extend %flex-col;
      margin-top: 3px;
      align-items: flex-start;
      background-color: $color_2;
      border: $color_1 solid 1px;
      width: 200px;
      position: absolute;
      .searched-item {
        color: $color_3;
        font-size: $fss;
        margin: 2px 27px;
        padding: 2px 5px;
        width: 145px;
        border-bottom: $color_3 2px solid;
      }
    }
  }
}

// responsive
@media screen and (max-width: 1074px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
