@import "config.scss";

// Footer
.footer {
  height: 260px;
  width: 100%;
  @extend %flex-col;
  justify-content: flex-start;
  hr {
    background-color: $color_3;
    border: none;
    height: 3px;
    width: 100%;
    margin-bottom: 20px;
  }
  .footer-content {
    @extend %flex-row;
    align-items: center;
    width: 80%;
    .menu {
      @extend %flex-col;
      a {
        @extend %header-btn;
        text-decoration: none;
        color: $color_1;
      }
    }
    .footer-col {
      @extend %flex-col;
      .terms-policy {
        @extend %flex-row;
        .dot {
          color: $color_3;
          margin: -4px 3px 0 3px;
        }
      }
    }
    .footer-image-row {
      @extend %flex-row;
      .soc-media-image {
        @extend %circle-image;
      }
    }
  }
}

// responsive
@media screen and (max-width: 1000px) {
  .footer {
    hr {
      background-color: $color_3;
      border: none;
      height: 3px;
      width: 100%;
      margin-bottom: 20px;
      padding: 1px;
    }
    .footer-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
