@import "config.scss";

// Music Visualization Section behind Header
.visualization-section {
  @extend %flex-col;
  width: 100%;
  height: 500px;
  background-color: $color_1;
  .music-data {
    @extend %flex-col;
    align-items: flex-start;
    width: 100%;
    .music-li {
      @extend %flex-row;
      justify-content: space-between;
      list-style: none;
      color: $color_2;
      .play-image {
        position: relative;
        top: 0;
        left: 0;
        .music-li-icon {
          height: 128px;
          width: 128px;
          position: relative;
          top: 0;
          left: 0;
        }
        .play-button {
          transition: 300ms;
          height: 72px;
          width: 72px;
          color: rgba($color_1, $alpha: 0.7);
          position: absolute;
          top: 30px;
          left: 30px;
          border-radius: 100%;
          &:hover {
            transition: 300ms;
            color: $color_2;
          }
        }
      }
      .music-li-el {
        margin: 0px 3px;
        font-size: $fsl;
      }
      .music-li-title {
        min-width: 190px;
        margin-right: auto;
        padding-left: 10px;
      }
      .music-li-p {
        display: none;
      }
      .div-tags {
        display: none;
      }
      .btn-share {
        display: none;
      }
      .btn-add {
        transition: 500ms;
        font-size: $fsm;
        color: rgba($color_2, 0.7);
        padding: 7.5px 10px;
        border-radius: 3px;
        border: 1px solid $color_4;
        background-color: $color_4;
        @extend %flex-row;
        align-items: center;
        margin: 0 10px;
        &:hover {
          transition: 500ms;
          color: $color_2;
        }
        .cart-image {
          margin-top: -4px;
          height: 40px;
          width: 40px;
        }
      }
    }
  }
}

//responsive
@media screen and (max-width: 580px) {
  .visualization-section {
    .music-data {
      .music-li {
        flex-wrap: wrap;
        .music-li-title {
          margin: 10px auto;
        }
        .btn-add {
          margin: 10px auto;
        }
      }
    }
  }
}
